/* Override pet cards to make them a bit more business-like */
input {
  border-radius: 0px;
  background-color: #ccc;
}

.pet-name {
  color: var(--admin-primary-color);
  font-family: var(--title-font);
  font-size: 1.75em;
  margin: 0;
}

.pet-card {
  border-radius: 0px;
}

.pet-photo {
  border-radius: 0px;
}

/* Override Header */
.company-name {
  color: var(--admin-primary-color);
}

/* Override Hamburger */
.selected-item-container {
  background-color: var(--admin-primary-color);
  border-radius: 0px;
}
