.narrow-contents {
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  max-width: 1800px;
  width: 100%;
}

.users-section {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
  box-sizing: border-box;
}

.users-subsection {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin: 0px 20px;
}

.users-section h2 {
  text-align: center;
  font-family: var(--title-font);
}

/*******  Different Size Screens ******/
@media (max-width: 1800px) {
  .users-section {
    width: 80%;
  }
}

@media (max-width: 1650px) {
  .users-section {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .users-section {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 650px) {
  .users-section {
    padding: 0px;
  }
  .users-subsection {
    margin: 0px;
  }
}
