:root {
  --header-height: 100px;
  --header-icon-padding: 10px;
  --icon-height: calc(var(--header-height) - 60px);
  --button-height: calc(var(--icon-height) + 10px);
  --border-radius: 16px;
  --white-space: 20px;

  /* Fonts */
  --primary-font: Verdana, sans-serif;
  --primary-color: #007bff;
  --title-font: Verdana, sans-serif;
  --pet-name-font: "Chalkduster", sans-serif;

  /* Small Screens */
  --small-header-height: 75px;
  --small-icon-height: calc(var(--small-header-height) - 40px);
  --small-button-height: calc(var(--small-icon-height) + 5px);
}

/****** Header Styles ******/
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  padding: 15px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: var(--header-height);
  box-sizing: border-box; /* Include padding in width calculation */
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.identity-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.logo {
  max-height: calc(var(--button-height));
  padding: var(--header-icon-padding);
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1); /* Scales the button */
}

.company-name {
  color: var(--primary-color);
  font-family: var(--title-font);
  padding: var(--header-icon-padding);
}

.nav-icon {
  max-height: var(--icon-height);
  padding: var(--header-icon-padding);
}

.nav-icon-container {
  background: none;
  border-radius: var(--border-radius);
  font-size: 1.5em; /* adjust size as needed */
  cursor: pointer;
  padding: 0.2em; /* space around the icon */
  display: inline-flex; /* centers the icon */
  justify-content: center;
  align-items: center;
  height: var(--button-height); /* ensure a square shape */
  width: var(--button-height); /* ensure a square shape */
  overflow: hidden; /* prevents the content from spilling out */
  margin-left: auto;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.nav-icon-container:hover {
  border-color: var(--primary-color);
  transform: scale(1.15); /* Scales the button */
}

/****** Hamburger Styles ******/
.hamburger-menu {
  cursor: pointer;
  max-height: var(--icon-height);
  max-width: var(--icon-height);
  padding: 20px;
  display: block;
}

.menu-container {
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  background-color: #f1f1f1;
  width: 100%;
}

.selected-item-container {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 10px 20px 10px 20px;
}

.selected-item {
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  top: calc(var(--header-height) + var(--button-height) + 20px);
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  max-height: 0; /* Start with max-height 0 */
  transition: max-height 0.5s ease-out;
}

.dropdown-menu a {
  color: black;
  font-family: var(--primary-font);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.dropdown-menu.show {
  display: block; /* show the menu */
  max-height: 300px;
}

/****** Pet Card Styles ******/
.pet-card {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: var(--white-space);
  margin: var(--white-space);
  width: 200px; /* or whatever width you prefer */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s ease;
}

.pet-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

.pet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet-name {
  color: var(--primary-color);
  font-family: var(--pet-name-font);
  font-size: 1.75em;
  margin: 0;
}

.pet-photo {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  margin-top: var(--white-space);
  margin-bottom: var(--white-space);
}

.pet-breed,
.pet-info {
  color: #252531;
  font-family: var(--primary-font);
  font-size: 1em;
  margin: 5px 0;
  text-align: center;
}

.favorite-button {
  background: none;
  border: 2px solid #ccc; /* gray border */
  border-radius: 50%; /* makes the border a circle */
  font-size: 1.5em; /* adjust size as needed */
  cursor: pointer;
  padding: 0.5em; /* space around the heart */
  display: inline-flex; /* centers the heart icon */
  justify-content: center;
  align-items: center;
  height: 1em; /* ensure a circular shape */
  width: 1em; /* ensure a circular shape */
  overflow: hidden; /* prevents the content from spilling out */
  margin-left: auto;
}

.favorite-button.favorited {
  border: 2px solid red;
}

.heart {
  color: gray;
}

.heart.favorited {
  color: red;
}

/****** List of Pets ******/

#list-of-pets {
  top: calc(var(--header-height) + var(--button-height) + 30px);
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

/****** Admin Functions ******/

.pet-form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-pet-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.edit-button,
.save-button,
.reserve-button,
.cancel-button,
.delete-button,
.confirm-adoption-button,
.cancel-reservation-button,
.returned-button {
  cursor: pointer;
}

input {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

/* Style the input when it receives focus */
input:focus {
  border-color: #6ca6cd;
  box-shadow: 0 0 5px rgba(108, 166, 205, 0.5);
}

/*******  Different Size Screens ******/
@media (max-width: 675px) {
  /* Shrink font size for small screen sizes */
  .main-header {
    max-height: var(--small-header-height);
  }
  .company-name {
    font-size: 16px;
  }
  .logo {
    max-height: calc(--small-button-height);
  }
  .nav-icon {
    max-height: var(--small-icon-height);
  }
  .nav-icon-container {
    height: var(--small-button-height); /* ensure a square shape */
    width: var(--small-button-height); /* ensure a square shape */
  }

  .hamburger-menu {
    cursor: pointer;
    max-height: var(--small-icon-height);
    max-width: var(--small-icon-height);
  }

  .menu-container {
    top: var(--small-header-height);
  }

  .dropdown-menu {
    top: calc(var(--small-header-height) + var(--small-button-height) + 20px);
  }
}
