:root {
  --header-height: 100px;
  --header-icon-padding: 10px;
  --icon-height: calc(var(--header-height) - 60px);
  --button-height: calc(var(--icon-height) + 10px);
  --border-radius: 16px;
  --white-space: 20px;

  /* Fonts */
  --primary-font: Verdana, sans-serif;
  --primary-color: #024359;
  --admin-primary-color: slategray;
  --title-font: Verdana, sans-serif;
  --pet-name-font: "Chalkduster", sans-serif;

  /* Small Screens */
  --small-header-height: 75px;
  --small-icon-height: calc(var(--small-header-height) - 40px);
  --small-button-height: calc(var(--small-icon-height) + 5px);
}
