/****** Pet Card Styles ******/
.pet-card {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: var(--white-space);
  margin: var(--white-space);
  width: 200px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 98%;
}

.pet-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  opacity: 100%;
}

.pet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pet-name {
  color: var(--primary-color);
  font-family: var(--pet-name-font);
  font-size: 1.75em;
  margin: 0;
}

.pet-photo {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius);
  margin-top: var(--white-space);
  margin-bottom: var(--white-space);
}

.pet-breed,
.pet-info {
  color: #252531;
  font-family: var(--primary-font);
  font-size: 1em;
  margin: 5px 0;
  text-align: center;
}

/****** Favorite Button ******/
.favorite-button {
  background: none;
  border: 2px solid #ccc; /* gray border */
  border-radius: 50%; /* makes the border a circle */
  font-size: 1.5em; /* adjust size as needed */
  cursor: pointer;
  padding: 0.5em; /* space around the heart */
  display: inline-flex; /* centers the heart icon */
  justify-content: center;
  align-items: center;
  height: 1em; /* ensure a circular shape */
  width: 1em; /* ensure a circular shape */
  overflow: hidden; /* prevents the content from spilling out */
  margin-left: auto;
}

.favorite-button.favorited {
  border: 2px solid red;
}

.heart {
  color: gray;
}

.heart.favorited {
  color: red;
}

/****** Buttons ******/
input {
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  border: 1px solid #ccc;
  outline: none;
}

/* Style the input when it receives focus */
input:focus {
  border-color: #6ca6cd;
  box-shadow: 0 0 5px rgba(108, 166, 205, 0.5);
}

.pet-form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-button-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.edit-button,
.save-button,
.reserve-button,
.cancel-button,
.delete-button,
.confirm-adoption-button,
.cancel-reservation-button,
.returned-button {
  cursor: pointer;
}

/****** List of Pets Section on Web Page ******/

#list-of-pets {
  justify-content: space-around;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.long {
  top: calc(var(--header-height) + var(--button-height) + 30px);
  position: absolute;
}
