.hamburger-menu {
  cursor: pointer;
  max-height: var(--icon-height);
  max-width: var(--icon-height);
  padding: 20px;
  display: block;
}

.menu-container {
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  background-color: #f1f1f1;
  width: 100%;
}

.selected-item-container {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding: 10px 20px 10px 20px;
}

.selected-item {
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: bold;
}

.dropdown-menu {
  display: none;
  top: calc(var(--header-height) + var(--button-height) + 20px);
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  max-height: 0; /* Start with max-height 0 */
  transition: max-height 0.5s ease-out;
}

.dropdown-menu a {
  color: black;
  font-family: var(--primary-font);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.dropdown-menu.show {
  display: block; /* show the menu */
  max-height: 300px;
}

@media (max-width: 675px) {
  .hamburger-menu {
    cursor: pointer;
    max-height: var(--small-icon-height);
    max-width: var(--small-icon-height);
  }

  .menu-container {
    top: var(--small-header-height);
  }

  .dropdown-menu {
    top: calc(var(--small-header-height) + var(--small-button-height) + 20px);
  }
}
