/***** User Card Styles *****/
.user-card {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: var(--white-space);
  margin: var(--white-space);
  width: 100px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 98%;
}

.user-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  opacity: 100%;
}

.selected {
  outline: 4px solid green;
}

.user-name {
  color: var(--primary-color);
  font-family: var(--user-name-font);
  font-size: 1.75em;
  margin: 0;
  text-align: center;
}

.user-photo {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius);
  margin-top: var(--white-space);
  margin-bottom: var(--white-space);
}

.user-form-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/****** List of Users Section on Web Page ******/

#admin-section,
#standard-users-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

@media (max-width: 650px) {
  .user-card {
    width: 50px;
    padding: 10px;
    margin: 5px;
  }

  .user-photo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .user-name {
    font-size: 0.8em;
  }
}
